<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ path('app_home') }}"><h1>Interim Co</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%">
            <li class="nav-item ">
                <a class="nav-link navigation-title" href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-title" href="#{{ path('app_tarif') }} }">Tarifs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-title" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-title" href="{{ path('app_register') }}">S'inscrire</a>
            </li>
        </ul>
    </div>
</nav>