{% extends 'base.html.twig' %}

{% block title %}Details Contrat{% endblock %}

{% block body %}
    <h1>Details Contrat</h1>

    {{ form_errors(contractForm) }}

    {{ form_start(contractForm) }}
        {{ form_row(contractForm.libelle) }}
    <div id="contract_form_prestations" data-prototype="{{ form_widget(contractForm.prestations.vars.prototype)|e('html_attr') }}">
        {% for prestation in existingContract.prestations %}
            <div>
                <h2>Prestation</h2>
                {{ form_row(contractForm.prestations[loop.index-1],{'label' : false}) }}
                <button class="btn btn-danger" type="button" onclick="handleDeletion(this)">Supprimer</button>
            </div>
        {% endfor %}
        </div>

        <button type="button" id="add-prestation-btn">Add Prestation</button>
        <button>Enregistrer Contrat</button>
    {{ form_end(contractForm) }}
    <script>
        var prestationsContainer = document.getElementById('contract_form_prestations');

        function handleDeletion(delBtn){
            let prestDiv = delBtn.parentElement;
            prestDiv.remove();
        }


        let add_button = document.getElementById('add-prestation-btn');
        add_button.addEventListener('click',function(e) {
            var prototype = prestationsContainer.getAttribute('data-prototype');
            var index = prestationsContainer.children.length;

            let newForm = prototype.replace(/__prestation_name__/g, index);
            var tempDiv = document.createElement('div');
            tempDiv.innerHTML = newForm;
            document.body.appendChild(tempDiv);
            tempDiv.firstElementChild.querySelectorAll('input, select').forEach((e)=>{
                e.classList.add('form-control');
            })
            tempDiv.firstElementChild.querySelectorAll('label').forEach((lab)=>{
                lab.classList.add('form-label')
            });
            let prestation_header = document.createElement("h2");
            prestation_header.textContent = "Prestation ";

            let delete_button = document.createElement("button");
            delete_button.textContent = 'Supprimer';
            delete_button.classList.add('btn-danger');
            delete_button.classList.add('btn');
            delete_button.type='button';
            delete_button.addEventListener('click',(e)=>{
                handleDeletion(e.target);
            })

            let prestation_div = document.createElement('div');
            prestation_div.appendChild(prestation_header);
            prestation_div.appendChild(tempDiv.firstChild);
            prestation_div.appendChild(delete_button);
            prestationsContainer.appendChild(prestation_div);

            e.preventDefault();
        });
    </script>
{% endblock %}