{% extends 'base.html.twig' %}

{% block title %}Details Contrat{% endblock %}

{% block body %}
    <h1>Details Contrat</h1>

    {{ form_errors(contractForm) }}

    {{ form_start(contractForm) }}
        {{ form_row(contractForm.libelle) }}
    <div id="contract_form_prestations" data-prototype="{{ form_widget(contractForm.prestations.vars.prototype)|e('html_attr') }}">
        {% for prestation in existingContract.prestations %}
            <h2>prestation {{ loop.index }}</h2>
            {{ form_row(contractForm.prestations[loop.index-1],{'label' : false}) }}
        {% endfor %}
        </div>

        <button type="button" id="add-prestation-btn">Add Prestation</button>
        <button>Enregistrer Contrat</button>
    {{ form_end(contractForm) }}
    <script>
        // Get the container for Prestations
        var prestationsContainer = document.getElementById('contract_form_prestations');


        // Add Prestation button click event
        let add_button = document.getElementById('add-prestation-btn');
        add_button.addEventListener('click',function(e) {
            var prototype = prestationsContainer.getAttribute('data-prototype');
            var index = prestationsContainer.children.length/2;

            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/<label class="required">__prestation_name__label__<\/label>/g,'');

            var tempDiv = document.createElement('div');
            tempDiv.innerHTML = newForm;
            // tempDiv.firstElementChild.classList.add('form-group');
            tempDiv.firstElementChild.querySelectorAll('input, select').forEach((e)=>{
                e.classList.add('form-control');
            })
            let prestation_header = document.createElement("h2");
            prestation_header.textContent = "prestation "+(index+1);
            prestationsContainer.appendChild(prestation_header);
            prestationsContainer.appendChild(tempDiv.firstChild);

            e.preventDefault();
        });
    </script>
{% endblock %}