{% extends 'base.html.twig' %}

{% block title %}Liste des Contrats{% endblock %}

{% block stylesheets %}
    <style>
        .table-green{
            --bs-table-bg: rgba(49, 210, 88, 0.5);
            --bs-table-striped-bg: rgba(68, 141, 91, 0.5);
            --bs-table-active-bg: rgba(71, 146, 110, 0.5);
            --bs-table-hover-bg: rgba(84, 182, 131, 0.5);

            --bs-table-color:#000;
            --bs-table-border-color:#a7b9b1;
            --bs-table-striped-color:#000;
            --bs-table-active-color:#000;
            --bs-table-hover-color:#000;
            color:var(--bs-table-color);
            border-color:var(--bs-table-border-color)
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des contrats</h1>
    <div><a class="btn btn-primary mb-3" href="{{ path('ajout_contrat') }}">Nouveau contrat</a></div>
    {% if contrats|length == 0 %}
        <h2>Il n'y a aucun contrat !</h2>
    {% else %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Libelle</th>
                <th>Date d'envoi</th>
                <th>Date de reponse</th>
                <th>Prix</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for contrat in contrats %}
                <tr>
                    <td>{{ contrat.libelle }}</td>
                    <td>{{ contrat.dateSoumission? contrat.dateSoumission.format('Y-m-d') :null }}</td>
                    <td>{{ contrat.dateReponse? contrat.dateReponse.format('Y-m-d'): null }}</td>
                    <td>{{ contrat.prix }}</td>
                    <td>{{ contrat.etatContrat }}</td>
                    <td>
                        <div class="container text-center">
                            <div class="row">
                                {% if contrat.etatContrat == 'En attente de validation' %}
                                    <a class="btn btn-info col" href="{{ path('contract_details', {'id': contrat.id}) }}">
                                        Details/Modif
                                    </a>
                                {% else %}
                                    <a class="btn btn-info col" href="{{ path('contract_details', {'id': contrat.id}) }}">
                                        Details
                                    </a>
                                {% endif %}

                                {% if contrat.etatContrat == 'En attente de validation' %}
                                    <form class="col" method="POST">
                                        <input type="hidden" name="formAction" value="validate">
                                        <input type="hidden" name="contrat_id" value="{{ contrat.id }}">
                                        <button class="btn btn-success" style="width: 100%" type="submit">Valider</button>
                                    </form>
                                {% elseif contrat.etatContrat == 'Accepté' %}
                                    <form class="col" method="POST">
                                        <input type="hidden" name="formAction" value="finalize">
                                        <input type="hidden" name="contrat_id" value="{{ contrat.id }}">
                                        <button class="btn btn-success" style="width: 100%" type="submit">Finaliser</button>
                                    </form>
                                {% endif %}
                                <form class="col" method="POST">
                                    <input type="hidden" name="formAction" value="delete">
                                    <input type="hidden" name="contrat_id" value="{{ contrat.id }}">
                                    <button class="btn btn-danger" style="width: 100%" type="submit">supprimer</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

<script>
    contract_rows=document.querySelectorAll('tr');
    Array.from(contract_rows).slice(1).forEach(contract_row=>{
        const status = contract_row.querySelectorAll('td')[4].textContent;
        if(status === 'En attente de validation'){
            contract_row.classList.add('table-warning');
        }
        else if(status === 'En cours de traitement') {
            contract_row.classList.add('table-secondary');
        }
        else if(status === 'Accepté'){
            contract_row.classList.add('table-success');
        }
        else if(status === 'Refusé'){
            contract_row.classList.add('table-danger');
        }
        else{
            contract_row.classList.add('table-green');
        }

    })
</script>
{% endblock %}