{% extends 'base.html.twig' %}

{% block title %}Liste des Contrats{% endblock %}

{% block stylesheets %}
    <style>
        .table-green{
            --bs-table-bg: rgba(49, 210, 88, 0.5);
            --bs-table-striped-bg: rgba(68, 141, 91, 0.5);
            --bs-table-active-bg: rgba(71, 146, 110, 0.5);
            --bs-table-hover-bg: rgba(84, 182, 131, 0.5);

            --bs-table-color:#000;
            --bs-table-border-color:#a7b9b1;
            --bs-table-striped-color:#000;
            --bs-table-active-color:#000;
            --bs-table-hover-color:#000;
            color:var(--bs-table-color);
            border-color:var(--bs-table-border-color)
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des contrats</h1>
    <div><a class="btn btn-primary mb-3" href="{{ path('ajout_contrat') }}">Nouveau contrat</a></div>
    {% if contrats|length == 0 %}
        <h2>Il n'y a aucun contrat !</h2>
    {% else %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Libelle</th>
                <th>Date d'envoi</th>
                <th>Date de reponse</th>
                <th>Prix</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for contrat in contrats %}
                <tr class="{% if contrat.etatContrat == 'En attente de validation' %}table-warning{% elseif contrat.etatContrat == 'Accepté' %}table-success{% elseif contrat.etatContrat == 'Refusé' %}table-danger{% else %}table-green{% endif %}">
                    <td>{{ contrat.libelle }}</td>
                    <td>{{ contrat.dateSoumission }}</td>
                    <td>{{ contrat.dateReponse }}</td>
                    <td>{{ contrat.prix }}</td>
                    <td>{{ contrat.etatContrat }}</td>
                    <td>
                        <div class="container text-center">
                            <div class="row">
                                <a class="btn btn-info col mx-1" href="{{ path('contract_details', {'id': contrat.id}) }}">Details</a>
{#                                    {% if contrat.etatContrat == 'En attente de validation' %}#}
{#                                    <form class="col" action="{{ path('validation_contrat') }}" method="POST">#}
{#                                        <input type="hidden" name="contrat_id" value="{{ contrat.id }}">#}
{#                                        <button class="btn btn-success" style="width: 100%" type="submit">Valider</button>#}
{#                                    </form>#}
{#                                {% elseif contrat.etatContrat == 'Accepté' %}#}
{#                                    <form class="col" action="{{ path('finalisation_contrat') }}" method="POST">#}
{#                                        <input type="hidden" name="contrat_id" value="{{ contrat.id }}">#}
{#                                        <button class="btn btn-success" style="width: 100%" type="submit">Finaliser</button>#}
{#                                    </form>#}
{#                                {% endif %}#}
                               <a class="btn btn-danger col mx-1" href="{{ path('delete_contract',{'id':contrat.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
