{% extends 'base.html.twig' %}

{% block title %}Details Contrat{% endblock %}

{% block body %}
<h1>Details Contrat</h1>
    {{ form_start(contractForm) }}
        {{ form_row(contractForm.libelle) }}
    <div id="contract_form_prestations" data-prototype="{{ form_widget(contractForm.prestations.vars.prototype)|e('html_attr') }}">
    {% for prestation in contractForm.prestations %}
        <h2>prestation {{ loop.index }}</h2>
        {{ form_row(contractForm.prestations[loop.index-1],{'label':false}) }}
    {% endfor %}
    </div>
{{ form_end(contractForm) }}
{% endblock %}