</div>
<div class="container">
    {% if prestation.employe is empty %}
        <div class="alert alert-info" role="alert">
            Aucun employé affecte a cette prestation.
        </div>
    {% else %}
        <h2 class="text-center">Employés Affectés à la Prestation:</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Numéro de Téléphone</th>
                <th scope="col">Compétences</th>
                {%if prestation.contrat.etatContrat == 'en_cours_de_traitement' %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for employe in prestation.employe %}
                <tr>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.numeroTelephone }}</td>
                    <td>
                        <select class="form-control">
                            {% for competence in employe.competences %}
                                <option>{{ competence.competence }} ({{ competence.niveauCompetence }})</option>
                            {% endfor %}
                        </select>
                    </td>

                    {%if prestation.contrat.etatContrat == 'en_cours_de_traitement' %}
                        <td>
                            <form action="{{path('supprimer_employe', { 'id': employe.id, 'id_prestation': prestation.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet employé de la prestation ?');">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>