{% extends 'base.html.twig' %}

{% block title %}Détails du Contrat{% endblock %}

{% block body %}
    {% include 'entete.twig' %}
    <div class="container">
        <h1 class="text-center">Détails du Contrat</h1>
        <p><strong>ID :</strong> {{ contrat.id }}</p>
        <p><strong>Libellé :</strong> {{ contrat.libelle }}</p>
        <p><strong>Date de Soumission :</strong> {{ contrat.dateSoumission|date('Y-m-d') }}</p>
        <p><strong>Date de Réponse :</strong> {{ contrat.dateReponse|date('Y-m-d') }}</p>
        <p><strong>Prix (dinars) :</strong> {{ contrat.prix }}</p>
    </div>

    <div class="container">
        {% if contrat.prestations is empty %}
            <div class="alert alert-info" role="alert">
                Aucune prestation trouvée pour ce contrat.
            </div>
            {{ contrat.prestations }}
        {% else %}
            <h2 class="text-center">Prestations:</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date de Début</th>
                    <th scope="col">Date de Fin</th>
                    <th scope="col">Durée (jours)</th>
                    <th scope="col">Prix (dinars)</th>
                    <th scope="col">Description</th>
                    <th scope="col">Compétence requise</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for prestation in contrat.prestations %}
                    <tr>
                        <td>{{ prestation.id }}</td>
                        <td>{{ prestation.dateDebut|date('Y-m-d') }}</td>
                        <td>{{ prestation.dateFin|date('Y-m-d') }}</td>
                        <td>{{ prestation.duree }}</td>
                        <td>{{ prestation.prix }}</td>
                        <td>{{ prestation.description }}</td>
                        <td>{{ prestation.competence.competence }} ({{ prestation.competence.niveauCompetence }})</td>
                        <td>
                            <form action="{{ path('traiter_prestation', {'id': prestation.id}) }}" method="post">
                                <button type="submit" class="btn btn-primary">
                                    {% if contrat.etatContrat == 'en_cours_de_traitement' %}
                                        Traiter Prestation
                                    {% else %}
                                        Détail Prestation
                                    {% endif %}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
