{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">Gestion des Employes </h2>
        <div class="mb-3">
            {{ form_start(filter,{'attr':{'class':'form-horizontal'}}) }}
            <div class="form-group row">
                <div class="col">
                    {{ form_row(filter.competences) }}
                </div>
                <div class="col">
                    {{ form_row(filter.numeroTelephone) }}
                </div>

            </div>
            <div class="form-group row">
                <div class="col">
                    {{ form_row(filter.nom) }}
                </div>
                <div class="col">
                    {{ form_row(filter.prenom) }}
                </div>

            </div>
            <div class="row">
                {{ form_row(filter.email) }}
            </div>

            {{ form_rest(filter) }}
        </div>
    </div>
    <div class="container mt-5">
        <h4>Liste des Employes</h4>
        <table class="table mt-3">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Numero de téléphone</th>
            </tr>
            </thead>
            <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.id }}</td>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.email}}</td>
                    <td>{{ employe.numeroTelephone }}</td>
                </tr>
            {% else %}
                <td colspan="6"><h3>Pas de employes dans la bd</h3></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
